<div data-controller="greeter">
    <input data-greeter-target="name" type="text">
    <button data-action="click->greeter#greet">Greet me!</button>
    <div data-greeter-target="output"></div>
</div>